<p>
  Reach lets you share your current location in real time via a URL.
</p>

<% if logged_in? %>
  <%= render 'form', location: @location %>
<% else %>
  <p id='use-app-notice' style='display:none;'>
    Download the iPhone or Android app to share your location
  </p>
<% end %>

<% if logged_in? && !current_user.locations.current.empty? %>
  <br />
  <h2>You are currently sharing</h2>

  <ul class="table-view">
    <% current_user.locations.current.each do |location| %>
      <li class="table-view-cell">
        <%= link_to(location.name.present? ? location.name : '<em>unnamed</em>'.html_safe, location_url(location), class: 'navigate-right') %>
      </li>
    <% end %>
  </ul>
<% end %>
